<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zafary</title>
  <link rel="stylesheet" href="Styles.css">
</head>

<body class="cabecera-principal">
  <!--contenido cabecera -->
  <header>
    <h1>Zafary </h1>
  </header>

  <section class="seccion-principal">

    <!--contenido secundario -->
    <aside class="contenido-secundario">


      <div class="lista">
        <p id="home"> <img src="../Layout/assets/home.png" alt="Es un Home"> Home</p>
      </div>

      <div class="lista">
        <p id="wap"> <img src="../Layout/assets/whatsapp.png" alt="Es un Whatzapp"> Whatzapp</p>
      </div>

      <div class="lista">
        <p id="zpotify"> <img src="../Layout/assets/spotify.png" alt="Es un Zpotify"> Zpotify </p>
      </div>


      <!--  <li> <a href="../Whatzapp/index.html" > Whatzapp  </li>  -->
      <!--  <li> <a href="../Zpotify/index.html" > Zpotify  </li> -->

      </ul>



    </aside>


    <!--contenido principal -->
    <main class="main">

      <!--<header class="header2"> Sub-Barra de herramientas </header>-->


      <section class="contenido-principal">

        <h2 id="texto-dinamico"> </h2>

        <iframe id="contenido-dinamico-menu" src="../Home/index.html" frameborder="0"> </iframe>

        <!-- <iframe id="contenido-dinamico-menu" src="" frameborder="0"></iframe> -->


      </section>


    </main>

  </section>

</body>
<script src="./index.js"></script>

</html>